<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../htmls/member.css">
    <script src="https://kit.fontawesome.com/5c174d451e.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Register</h1>
    
    <div class="container">
        <%- include ('partials/messages') %>
        <form action='/user/register' method="POST">
            <input type="text" name="name" placeholder="Name" value="<%=typeof data.name!='undefined'?data.name:''%>">
            <input type="name" name="email" placeholder="Email"  value="<%=typeof data.email!='undefined'?data.email:''%>" >
            <input type="password" name ="password" placeholder="Password">
            <input type="password" name ="conpassword" placeholder="Confirm Password">
            <input type="submit" value="submit">
        </form>
        <a style="color: black;" href="/user/login">Login</a>
    </div>
</body>
</html>
