<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../htmls/member.css">
    <script src="https://kit.fontawesome.com/5c174d451e.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <h1>Login</h1>
    
    <div class="container">
        <%- include ('partials/messages') %>
        <form action="/user/login" method="POST">
            <input type="name" name="email" placeholder="Email">
            <input type="password" name ="password" placeholder="Password">
            <input type="submit" value="submit">
        </form>
        <a style="color: black;" href="/user/register">Register</a>
    </div>
</body>
</html>
<script type="text/javascript"> 
    window.history.forward(); 
    function noBack() { 
        window.history.forward(); 
    } 
</script> 